<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>materialdesignicons-webfont.ttf</string>
		<string>SF-UI-Display-Black.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Heavy.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Semibold.otf</string>
		<string>SF-UI-Display-Thin.otf</string>
		<string>SF-UI-Display-Ultralight.otf</string>
		<string>SF-UI-Text-Bold.otf</string>
		<string>SF-UI-Text-BoldItalic.otf</string>
		<string>SF-UI-Text-Heavy.otf</string>
		<string>SF-UI-Text-HeavyItalic.otf</string>
		<string>SF-UI-Text-Light.otf</string>
		<string>SF-UI-Text-LightItalic.otf</string>
		<string>SF-UI-Text-Medium.otf</string>
		<string>SF-UI-Text-MediumItalic.otf</string>
		<string>SF-UI-Text-Regular.otf</string>
		<string>SF-UI-Text-RegularItalic.otf</string>
		<string>SF-UI-Text-Semibold.otf</string>
		<string>SF-UI-Text-SemiboldItalic.otf</string>
		<string>SF-Compact-Display-Thin.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Display-Black.otf</string>
		<string>SF-Compact-Display-Ultralight.otf</string>
		<string>SF-Compact-Text-MediumItalic.otf</string>
		<string>SF-Compact-Display-Bold.otf</string>
		<string>SF-Compact-Text-Bold.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Display-Heavy.otf</string>
		<string>SF-Compact-Text-BoldItalic.otf</string>
		<string>SF-Compact-Text-RegularItalic.otf</string>
		<string>SF-Compact-Display-Light.otf</string>
		<string>SF-Compact-Text-Heavy.otf</string>
		<string>SF-Compact-Text-Semibold.otf</string>
		<string>SF-Compact-Display-Medium.otf</string>
		<string>SF-Compact-Text-HeavyItalic.otf</string>
		<string>SF-Compact-Text-SemiboldItalic.otf</string>
		<string>SF-Compact-Display-Regular.otf</string>
		<string>SF-Compact-Text-Light.otf</string>
		<string>SF-Compact-Display-Semibold.otf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
		<string>RobotoSlab-Light.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>RobotoSlab-Thin.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-BoldItalic.ttf</string>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-LightItalic.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-MediumItalic.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
		<string>RobotoMono-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>UbuntuCondensed-Regular.ttf</string>
		<string>UbuntuMono-Bold.ttf</string>
		<string>UbuntuMono-BoldItalic.ttf</string>
		<string>UbuntuMono-Italic.ttf</string>
		<string>UbuntuMono-Regular.ttf</string>
		<string>Aclonica.ttf</string>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-BoldItalic.ttf</string>
		<string>Arimo-Italic.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Calligraffitti-Regular.ttf</string>
		<string>Schoolbell.ttf</string>
		<string>CherryCreamSoda.ttf</string>
		<string>Chewy.ttf</string>
		<string>ComingSoon.ttf</string>
		<string>simsun.ttc</string>
		<string>Yuanti.ttc</string>
		<string>Klee.ttc</string>
		<string>TsukushiAMaruGothic.ttc</string>
		<string>TsukushiBMaruGothic.ttc</string>
		<string>YuMincho.ttc</string>
        <string>UnifrakturMaguntia-Book.ttf</string>
        
        <string>Montserrat-Black.ttf</string>
        <string>Montserrat-Bold.ttf</string>
        <string>Montserrat-Light.ttf</string>
        <string>Montserrat-Regular.ttf</string>
        <string>Montserrat-Thin.ttf</string>
        
        <string>Lora-Bold.ttf</string>
        <string>Lora-BoldItalic.ttf</string>
        <string>Lora-Italic.ttf</string>
        <string>Lora-Regular.ttf</string>
        
        <string>PT_Sans-Web-Bold.ttf</string>
        <string>PT_Sans-Web-BoldItalic.ttf</string>
        <string>PT_Sans-Web-Italic.ttf</string>
        <string>PT_Sans-Web-Regular.ttf</string>
        
        <string>PT_Sans-Caption-Web-Bold.ttf</string>
        <string>PT_Sans-Caption-Web-Regular.ttf</string>
        
        <string>PT_Sans-Narrow-Web-Bold.ttf</string>
        <string>PT_Sans-Narrow-Web-Regular.ttf</string>
        
        <string>Lobster-Regular.ttf</string>
        
        <string>LobsterTwo-Bold.ttf</string>
        <string>LobsterTwo-BoldItalic.ttf</string>
        <string>LobsterTwo-Italic.ttf</string>
        <string>LobsterTwo-Regular.ttf</string>
        
        <string>Muli-Italic.ttf</string>
        <string>Muli-Light.ttf</string>
        <string>Muli-LightItalic.ttf</string>
        <string>Muli-Regular.ttf</string>
        
        <string>Orbitron-Black.ttf</string>
        <string>Orbitron-Bold.ttf</string>
        <string>Orbitron-Medium.ttf</string>
        <string>Orbitron-Regular.ttf</string>
        
        <string>Exo-Black.ttf</string>
        <string>Exo-BlackItalic.ttf</string>
        <string>Exo-Bold.ttf</string>
        <string>Exo-BoldItalic.ttf</string>
        <string>Exo-ExtraBold.ttf</string>
        <string>Exo-ExtraBoldItalic.ttf</string>
        <string>Exo-ExtraLight.ttf</string>
        <string>Exo-ExtraLightItalic.ttf</string>
        <string>Exo-Italic.ttf</string>
        <string>Exo-Light.ttf</string>
        <string>Exo-LightItalic.ttf</string>
        <string>Exo-Medium.ttf</string>
        <string>Exo-MediumItalic.ttf</string>
        <string>Exo-Regular.ttf</string>
        <string>Exo-SemiBold.ttf</string>
        <string>Exo-SemiBoldItalic.ttf</string>
        <string>Exo-Thin.ttf</string>
        <string>Exo-ThinItalic.ttf</string>
        
        <string>Exo2-Black.ttf</string>
        <string>Exo2-BlackItalic.ttf</string>
        <string>Exo2-Bold.ttf</string>
        <string>Exo2-BoldItalic.ttf</string>
        <string>Exo2-ExtraBold.ttf</string>
        <string>Exo2-ExtraBoldItalic.ttf</string>
        <string>Exo2-ExtraLight.ttf</string>
        <string>Exo2-ExtraLightItalic.ttf</string>
        <string>Exo2-Italic.ttf</string>
        <string>Exo2-Light.ttf</string>
        <string>Exo2-LightItalic.ttf</string>
        <string>Exo2-Medium.ttf</string>
        <string>Exo2-MediumItalic.ttf</string>
        <string>Exo2-Regular.ttf</string>
        <string>Exo2-SemiBold.ttf</string>
        <string>Exo2-SemiBoldItalic.ttf</string>
        <string>Exo2-Thin.ttf</string>
        <string>Exo2-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
