<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>materialdesignicons-webfont.ttf</string>
		<string>SF-UI-Display-Black.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Heavy.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Semibold.otf</string>
		<string>SF-UI-Display-Thin.otf</string>
		<string>SF-UI-Display-Ultralight.otf</string>
		<string>SF-UI-Text-Bold.otf</string>
		<string>SF-UI-Text-BoldItalic.otf</string>
		<string>SF-UI-Text-Heavy.otf</string>
		<string>SF-UI-Text-HeavyItalic.otf</string>
		<string>SF-UI-Text-Light.otf</string>
		<string>SF-UI-Text-LightItalic.otf</string>
		<string>SF-UI-Text-Medium.otf</string>
		<string>SF-UI-Text-MediumItalic.otf</string>
		<string>SF-UI-Text-Regular.otf</string>
		<string>SF-UI-Text-RegularItalic.otf</string>
		<string>SF-UI-Text-Semibold.otf</string>
		<string>SF-UI-Text-SemiboldItalic.otf</string>
		<string>SF-Compact-Display-Thin.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Display-Black.otf</string>
		<string>SF-Compact-Display-Ultralight.otf</string>
		<string>SF-Compact-Text-MediumItalic.otf</string>
		<string>SF-Compact-Display-Bold.otf</string>
		<string>SF-Compact-Text-Bold.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Display-Heavy.otf</string>
		<string>SF-Compact-Text-BoldItalic.otf</string>
		<string>SF-Compact-Text-RegularItalic.otf</string>
		<string>SF-Compact-Display-Light.otf</string>
		<string>SF-Compact-Text-Heavy.otf</string>
		<string>SF-Compact-Text-Semibold.otf</string>
		<string>SF-Compact-Display-Medium.otf</string>
		<string>SF-Compact-Text-HeavyItalic.otf</string>
		<string>SF-Compact-Text-SemiboldItalic.otf</string>
		<string>SF-Compact-Display-Regular.otf</string>
		<string>SF-Compact-Text-Light.otf</string>
		<string>SF-Compact-Display-Semibold.otf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
		<string>RobotoSlab-Light.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>RobotoSlab-Thin.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-BoldItalic.ttf</string>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-LightItalic.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-MediumItalic.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
		<string>RobotoMono-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>UbuntuCondensed-Regular.ttf</string>
		<string>UbuntuMono-Bold.ttf</string>
		<string>UbuntuMono-BoldItalic.ttf</string>
		<string>UbuntuMono-Italic.ttf</string>
		<string>UbuntuMono-Regular.ttf</string>
		<string>Aclonica.ttf</string>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-BoldItalic.ttf</string>
		<string>Arimo-Italic.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Calligraffitti-Regular.ttf</string>
		<string>Schoolbell.ttf</string>
		<string>CherryCreamSoda.ttf</string>
		<string>Chewy.ttf</string>
		<string>ComingSoon.ttf</string>
		<string>Klee.ttc</string>
		<string>TsukushiAMaruGothic.ttc</string>
		<string>TsukushiBMaruGothic.ttc</string>
		<string>YuMincho.ttc</string>
		<string>UnifrakturMaguntia-Book.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-BoldItalic.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>PT_Sans-Web-Bold.ttf</string>
		<string>PT_Sans-Web-BoldItalic.ttf</string>
		<string>PT_Sans-Web-Italic.ttf</string>
		<string>PT_Sans-Web-Regular.ttf</string>
		<string>PT_Sans-Caption-Web-Bold.ttf</string>
		<string>PT_Sans-Caption-Web-Regular.ttf</string>
		<string>PT_Sans-Narrow-Web-Bold.ttf</string>
		<string>PT_Sans-Narrow-Web-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>LobsterTwo-Bold.ttf</string>
		<string>LobsterTwo-BoldItalic.ttf</string>
		<string>LobsterTwo-Italic.ttf</string>
		<string>LobsterTwo-Regular.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Exo-Black.ttf</string>
		<string>Exo-BlackItalic.ttf</string>
		<string>Exo-Bold.ttf</string>
		<string>Exo-BoldItalic.ttf</string>
		<string>Exo-ExtraBold.ttf</string>
		<string>Exo-ExtraBoldItalic.ttf</string>
		<string>Exo-ExtraLight.ttf</string>
		<string>Exo-ExtraLightItalic.ttf</string>
		<string>Exo-Italic.ttf</string>
		<string>Exo-Light.ttf</string>
		<string>Exo-LightItalic.ttf</string>
		<string>Exo-Medium.ttf</string>
		<string>Exo-MediumItalic.ttf</string>
		<string>Exo-Regular.ttf</string>
		<string>Exo-SemiBold.ttf</string>
		<string>Exo-SemiBoldItalic.ttf</string>
		<string>Exo-Thin.ttf</string>
		<string>Exo-ThinItalic.ttf</string>
		<string>Exo2-Black.ttf</string>
		<string>Exo2-BlackItalic.ttf</string>
		<string>Exo2-Bold.ttf</string>
		<string>Exo2-BoldItalic.ttf</string>
		<string>Exo2-ExtraBold.ttf</string>
		<string>Exo2-ExtraBoldItalic.ttf</string>
		<string>Exo2-ExtraLight.ttf</string>
		<string>Exo2-ExtraLightItalic.ttf</string>
		<string>Exo2-Italic.ttf</string>
		<string>Exo2-Light.ttf</string>
		<string>Exo2-LightItalic.ttf</string>
		<string>Exo2-Medium.ttf</string>
		<string>Exo2-MediumItalic.ttf</string>
		<string>Exo2-Regular.ttf</string>
		<string>Exo2-SemiBold.ttf</string>
		<string>Exo2-SemiBoldItalic.ttf</string>
		<string>Exo2-Thin.ttf</string>
		<string>Exo2-ThinItalic.ttf</string>
		<string>ABeeZee-Italic.ttf</string>
		<string>ABeeZee-Regular.ttf</string>
		<string>Abel-Regular.ttf</string>
		<string>AbhayaLibre-Bold.ttf</string>
		<string>AbhayaLibre-ExtraBold.ttf</string>
		<string>AbhayaLibre-Medium.ttf</string>
		<string>AbhayaLibre-Regular.ttf</string>
		<string>AbhayaLibre-SemiBold.ttf</string>
		<string>JejuGothic-Regular.ttf</string>
		<string>Elsie-Black.ttf</string>
		<string>Elsie-Regular.ttf</string>
		<string>Podkova-Bold.ttf</string>
		<string>Podkova-Regular.ttf</string>
		<string>AbrilFatface-Regular.ttf</string>
		<string>AbyssinicaSIL-Regular.ttf</string>
		<string>Acme-Regular.ttf</string>
		<string>Actor-Regular.ttf</string>
		<string>Adamina-Regular.ttf</string>
		<string>Akronim-Regular.ttf</string>
		<string>AguafinaScript-Regular.ttf</string>
		<string>AdventPro-Bold.ttf</string>
		<string>AdventPro-ExtraLight.ttf</string>
		<string>AdventPro-Light.ttf</string>
		<string>AdventPro-Medium.ttf</string>
		<string>AdventPro-Regular.ttf</string>
		<string>AdventPro-SemiBold.ttf</string>
		<string>AdventPro-Thin.ttf</string>
		<string>AksaraBaliGalang-Regular.ttf</string>
		<string>Aladin-Regular.ttf</string>
		<string>Aldrich-Regular.ttf</string>
		<string>Alef-Bold.ttf</string>
		<string>Alef-Regular.ttf</string>
		<string>Alegreya-Black.ttf</string>
		<string>Alegreya-BlackItalic.ttf</string>
		<string>Alegreya-Bold.ttf</string>
		<string>Alegreya-BoldItalic.ttf</string>
		<string>Alegreya-Italic.ttf</string>
		<string>Alegreya-Regular.ttf</string>
		<string>AlegreyaSansSC-Black.ttf</string>
		<string>AlegreyaSansSC-BlackItalic.ttf</string>
		<string>AlegreyaSansSC-Bold.ttf</string>
		<string>AlegreyaSansSC-BoldItalic.ttf</string>
		<string>AlegreyaSansSC-ExtraBold.ttf</string>
		<string>AlegreyaSansSC-ExtraBoldItalic.ttf</string>
		<string>AlegreyaSansSC-Italic.ttf</string>
		<string>AlegreyaSansSC-Light.ttf</string>
		<string>AlegreyaSansSC-LightItalic.ttf</string>
		<string>AlegreyaSansSC-Medium.ttf</string>
		<string>AlegreyaSansSC-MediumItalic.ttf</string>
		<string>AlegreyaSansSC-Regular.ttf</string>
		<string>AlegreyaSansSC-Thin.ttf</string>
		<string>AlegreyaSansSC-ThinItalic.ttf</string>
		<string>AlegreyaSC-Black.ttf</string>
		<string>AlegreyaSC-BlackItalic.ttf</string>
		<string>AlegreyaSC-Bold.ttf</string>
		<string>AlegreyaSC-BoldItalic.ttf</string>
		<string>AlegreyaSC-Italic.ttf</string>
		<string>AlegreyaSC-Regular.ttf</string>
		<string>AlexBrush-Regular.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>Alice-Regular.ttf</string>
		<string>Alike-Regular.ttf</string>
		<string>AlikeAngular-Regular.ttf</string>
		<string>Allan-Bold.ttf</string>
		<string>Allan-Regular.ttf</string>
		<string>Allerta-Regular.ttf</string>
		<string>AllertaStencil-Regular.ttf</string>
		<string>Allura-Regular.ttf</string>
		<string>AlmendraSC-Bold.ttf</string>
		<string>AlmendraSC-BoldItalic.ttf</string>
		<string>AlmendraSC-Italic.ttf</string>
		<string>AlmendraSC-Regular.ttf</string>
		<string>AlmendraDisplay-Regular.ttf</string>
		<string>Almendra-Bold.ttf</string>
		<string>Almendra-BoldItalic.ttf</string>
		<string>Almendra-Italic.ttf</string>
		<string>Almendra-Regular.ttf</string>
		<string>AmaticSC-Bold.ttf</string>
		<string>AmaticSC-Regular.ttf</string>
		<string>Amaranth-Bold.ttf</string>
		<string>Amaranth-BoldItalic.ttf</string>
		<string>Amaranth-Italic.ttf</string>
		<string>Amaranth-Regular.ttf</string>
		<string>Amarante-Regular.ttf</string>
		<string>Amethysta-Regular.ttf</string>
		<string>Andika-R.ttf</string>
		<string>Angkor.ttf</string>
		<string>AndadaSC-Bold.ttf</string>
		<string>AndadaSC-BoldItalic.ttf</string>
		<string>AndadaSC-Italic.ttf</string>
		<string>AndadaSC-Regular.ttf</string>
		<string>Andada-Bold.ttf</string>
		<string>Andada-BoldItalic.ttf</string>
		<string>Andada-Italic.ttf</string>
		<string>Andada-Regular.ttf</string>
		<string>Anaheim-Regular.ttf</string>
		<string>Amita-Bold.ttf</string>
		<string>Amita-Regular.ttf</string>
		<string>Amiri-Bold.ttf</string>
		<string>Amiri-BoldSlanted.ttf</string>
		<string>Amiri-Regular.ttf</string>
		<string>Amiri-Slanted.ttf</string>
		<string>ArbutusSlab-Regular.ttf</string>
		<string>Arbutus-Regular.ttf</string>
		<string>Arapey-Italic.ttf</string>
		<string>Arapey-Regular.ttf</string>
		<string>Antonio-Bold.ttf</string>
		<string>Antonio-Light.ttf</string>
		<string>Antonio-Regular.ttf</string>
		<string>Anton.ttf</string>
		<string>AnticSlab-Regular.ttf</string>
		<string>AnticDidone-Regular.ttf</string>
		<string>Antic-Regular.ttf</string>
		<string>AnnieUseYourTelescope.ttf</string>
		<string>AnonymousPro-Bold.ttf</string>
		<string>AnonymousPro-BoldItalic.ttf</string>
		<string>AnonymousPro-Italic.ttf</string>
		<string>AnonymousPro-Regular.ttf</string>
		<string>ArchivoNarrow-Bold.ttf</string>
		<string>ArchivoNarrow-BoldItalic.ttf</string>
		<string>ArchivoNarrow-Italic.ttf</string>
		<string>ArchivoNarrow-Regular.ttf</string>
		<string>ArchivoBlack-Regular.ttf</string>
		<string>ArchitectsDaughter.ttf</string>
		<string>Artifika-Regular.ttf</string>
		<string>Armata-Regular.ttf</string>
		<string>Arizonia-Regular.ttf</string>
		<string>Asset.ttf</string>
		<string>Asar-Regular.ttf</string>
		<string>Asap-Bold.ttf</string>
		<string>Asap-BoldItalic.ttf</string>
		<string>Asap-Italic.ttf</string>
		<string>Asap-Regular.ttf</string>
		<string>Arya-Bold.ttf</string>
		<string>Arya-Regular.ttf</string>
		<string>Arvo-Bold.ttf</string>
		<string>Arvo-BoldItalic.ttf</string>
		<string>Arvo-Italic.ttf</string>
		<string>Arvo-Regular.ttf</string>
		<string>Aubrey-Regular.ttf</string>
		<string>AtomicAge-Regular.ttf</string>
		<string>Asul-Bold.ttf</string>
		<string>Asul-Regular.ttf</string>
		<string>Astloch-Bold.ttf</string>
		<string>Astloch-Regular.ttf</string>
		<string>AverageSans-Regular.ttf</string>
		<string>Average-Regular.ttf</string>
		<string>AutourOne-Regular.ttf</string>
		<string>Audiowide-Regular.ttf</string>
		<string>AveriaSerifLibre-Bold.ttf</string>
		<string>AveriaSerifLibre-BoldItalic.ttf</string>
		<string>AveriaSerifLibre-Italic.ttf</string>
		<string>AveriaSerifLibre-Light.ttf</string>
		<string>AveriaSerifLibre-LightItalic.ttf</string>
		<string>AveriaSerifLibre-Regular.ttf</string>
		<string>AveriaSansLibre-Bold.ttf</string>
		<string>AveriaSansLibre-BoldItalic.ttf</string>
		<string>AveriaSansLibre-Italic.ttf</string>
		<string>AveriaSansLibre-Light.ttf</string>
		<string>AveriaSansLibre-LightItalic.ttf</string>
		<string>AveriaSansLibre-Regular.ttf</string>
		<string>AveriaLibre-Bold.ttf</string>
		<string>AveriaLibre-BoldItalic.ttf</string>
		<string>AveriaLibre-Italic.ttf</string>
		<string>AveriaLibre-Light.ttf</string>
		<string>AveriaLibre-LightItalic.ttf</string>
		<string>AveriaLibre-Regular.ttf</string>
		<string>AveriaGruesaLibre-Regular.ttf</string>
		<string>BalooBhai-Regular.ttf</string>
		<string>Baloo-Regular.ttf</string>
		<string>BalooDa-Regular.ttf</string>
		<string>BalooChettan-Regular.ttf</string>
		<string>BalooBhaina-Regular.ttf</string>
		<string>BalooThambi-Regular.ttf</string>
		<string>BalooTammudu-Regular.ttf</string>
		<string>BalooTamma-Regular.ttf</string>
		<string>BalooPaaji-Regular.ttf</string>
		<string>Basic-Regular.ttf</string>
		<string>Bangers.ttf</string>
		<string>Balthazar-Regular.ttf</string>
		<string>Bayon.ttf</string>
		<string>Baumans-Regular.ttf</string>
		<string>Battambang-Regular.ttf</string>
		<string>Battambang-Bold.ttf</string>
		<string>Bentham-Regular.ttf</string>
		<string>BenchNine-Regular.ttf</string>
		<string>BenchNine-Light.ttf</string>
		<string>BenchNine-Bold.ttf</string>
		<string>Belleza-Regular.ttf</string>
		<string>Belgrano-Regular.ttf</string>
        
        <string>BerkshireSwash-Regular.ttf</string>
        
        <string>Bevan.ttf</string>
        
        <string>Bhavuka-Regular.ttf</string>
        
        <string>BigelowRules-Regular.ttf</string>
        
        <string>BigshotOne.ttf</string>
        
        <string>Bilbo-Regular.ttf</string>
        
        <string>BilboSwashCaps-Regular.ttf</string>
        
        <string>Biryani-Black.ttf</string>
        <string>Biryani-Bold.ttf</string>
        <string>Biryani-ExtraBold.ttf</string>
        <string>Biryani-ExtraLight.ttf</string>
        <string>Biryani-Light.ttf</string>
        <string>Biryani-Regular.ttf</string>
        <string>Biryani-SemiBold.ttf</string>
        
        <string>Bitter-Bold.ttf</string>
        <string>Bitter-Italic.ttf</string>
        <string>Bitter-Regular.ttf</string>
        
        <string>BlackOpsOne-Regular.ttf</string>
        
        <string>Bokor.ttf</string>
        
        <string>Bonbon-Regular.ttf</string>
        
        <string>Boogaloo-Regular.ttf</string>
        
        <string>BowlbyOne-Regular.ttf</string>
        
        <string>BowlbyOneSC-Regular.ttf</string>
        
        <string>Brawler-Regular.ttf</string>
        
        <string>BreeSerif-Regular.ttf</string>
        
        <string>BrunoAce-Regular.ttf</string>
        
        <string>BrunoAceSC-Regular.ttf</string>
        
        <string>BubblegumSans-Regular.ttf</string>
        
        <string>BubblerOne-Regular.ttf</string>
        
        <string>Buda-Light.ttf</string>
        
        <string>Buenard-Bold.ttf</string>
        <string>Buenard-Regular.ttf</string>
        
        <string>Butcherman-Regular.ttf</string>
        
        <string>Cabin-Bold.ttf</string>
        <string>Cabin-BoldItalic.ttf</string>
        <string>Cabin-Italic.ttf</string>
        <string>Cabin-Medium.ttf</string>
        <string>Cabin-MediumItalic.ttf</string>
        <string>Cabin-Regular.ttf</string>
        <string>Cabin-SemiBold.ttf</string>
        <string>Cabin-SemiBoldItalic.ttf</string>
        
        <string>CabinCondensed-Bold.ttf</string>
        <string>CabinCondensed-Medium.ttf</string>
        <string>CabinCondensed-Regular.ttf</string>
        <string>CabinCondensed-SemiBold.ttf</string>
        
        <string>CabinSketch-Bold.ttf</string>
        <string>CabinSketch-Regular.ttf</string>
        
        <string>CaesarDressing-Regular.ttf</string>
        
        <string>Cagliostro-Regular.ttf</string>
        
        <string>Cambay-Bold.ttf</string>
        <string>Cambay-BoldItalic.ttf</string>
        <string>Cambay-Italic.ttf</string>
        <string>Cambay-Regular.ttf</string>
        
        <string>Cambo-Regular.ttf</string>
        
        <string>Candal.ttf</string>
        
        <string>Cantarell-Bold.ttf</string>
        <string>Cantarell-BoldOblique.ttf</string>
        <string>Cantarell-Oblique.ttf</string>
        <string>Cantarell-Regular.ttf</string>
        
        <string>CantataOne-Regular.ttf</string>
        
        <string>CantoraOne-Regular.ttf</string>
        
        <string>Capriola-Regular.ttf</string>
        
        <string>Cardo-Bold.ttf</string>
        <string>Cardo-Italic.ttf</string>
        <string>Cardo-Regular.ttf</string>
        
        <string>Carme-Regular.ttf</string>
        
        <string>CarroisGothic-Regular.ttf</string>
        
        <string>CarroisGothicSC-Regular.ttf</string>
        
        <string>CarterOne.ttf</string>
        
        <string>Catamaran-Black.ttf</string>
        <string>Catamaran-Bold.ttf</string>
        <string>Catamaran-ExtraBold.ttf</string>
        <string>Catamaran-ExtraLight.ttf</string>
        <string>Catamaran-Light.ttf</string>
        <string>Catamaran-Medium.ttf</string>
        <string>Catamaran-Regular.ttf</string>
        <string>Catamaran-SemiBold.ttf</string>
        <string>Catamaran-Thin.ttf</string>
        
        <string>Caudex-Bold.ttf</string>
        <string>Caudex-BoldItalic.ttf</string>
        <string>Caudex-Italic.ttf</string>
        <string>Caudex-Regular.ttf</string>
        
        <string>Caveat-Bold.ttf</string>
        <string>Caveat-Regular.ttf</string>
        
        <string>CaveatBrush-Regular.ttf</string>
        
        <string>Baoli.ttc</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
